@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom right, #f8fafc, #f1f5f9);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






